h2 {
    color: rgb(37, 121, 181);
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}

.txt{
    color: rgb(40, 45, 49);
    font-size: 15px;
    font-weight: 500;
    margin-left: 33px;
}
.txtt{
    color: rgb(40, 45, 49);
    font-size: 15px;
    font-weight: 500;
    margin-left: 33px;
    margin-top: 13px;
}

.button[type="submit"]
{
    outline: none;
    display: inline_block;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(72, 153, 214) ;
    background-size: 200%;
    background-position: 0%;
    transition: 0s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: center;
    font-size: 15px;
    position: sticky;
    white-space: nowrap;
    margin-left: 20px;
    border : none;
}

    .button[type="submit"]:hover {
        background-position: 100% 0%;
        background-color: rgb(21, 115, 182);
    }


.sdbutton[type="submit"]
{
    outline: none;
    display: inline_block;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #ecd448;
    background-size: 200%;
    background-position: 0%;
    transition: 0s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: center;
    font-size: 15px;
    position: sticky;
    white-space: nowrap;
    margin-left: 33px;
    margin-bottom: 20px;
    border: none;
}

.sdbutton[type="submit"]:hover {
    background-position: 100% 0%;
    background-color:  rgb(72, 153, 214);
}

.scbutton[type="submit"]
{
    outline: none;
    display: inline_block;
    padding: 10px 15px;
    border-radius: 10px;
    color: #ecd448;
    background-size: 200%;
    background-position: 0%;
    transition: 0s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: center;
    font-size: 15px;
    position: sticky;
    white-space: nowrap;
    margin-left: 20px;
    margin-bottom: 20px;
    border: none;
}

.scbutton[type="submit"]:hover {
    background-position: 100% 0%;
    background-color:  #dfc843;
}

.input {
    outline: none;
    background-color: rgb(244, 244, 244);
    border-radius: 100px;
    
    width: 50%;
    padding: 10px 13px;
    border-radius: 8px;
    transition: 0.4s;
}

.textarea {
    display: block;
    font: inherit;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    /* padding: 0.25rem; */
    width: 60%;
    background-color: #ececec;
    height: 100px;
}