h2 {
    color: #888;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}

.button[type="submit"]
{
    outline: none;
    display: center;
    padding: 10px 15px;
    border-radius: 10px;
    color: #EED859;
    background-size: 200%;
    background-position: 0%;
    transition: 0s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}


.input {
    outline: none;
    background-color: rgb(244, 244, 244);
    border-radius: 100px;
    
    width: 50%;
    padding: 10px 13px;
    border-radius: 8px;
    transition: 0.4s;
}