.header {
    width: 80%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080077;
    padding: 0 10%;
  }
  
  .logo {
    font-size: 5rem;
    color: white;
    font-weight: bold;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .header li {
    margin-left: 5rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #bebb26;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #cc2062;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }