extends layout 

block content 
    .header 
        .row
            .col-sm-1
                a(href="/home") Home
            .col-sm-2
                a(href="/new_course") Add a Course
            .col-sm-1
                a(href="/logout") Log Out
    .login-box 
        .header 
            h2 New Post
        form(action="/new_post", method = "post")
            .form-group   
                label(for="content") Content 
                textarea(type="content" name="content" class="form-control" rows="3" style="width: 400px;") 
            button(type="submit" class="btn btn-primary") Submit
