extends layout 

block content 
    .header 
        .row
            .col-sm-2
                a(href="/home") Home
            .col-sm-2
                a(href="/new_post") New Post 
            .col-sm-2 
                a(href="/new_course") Add a Course
            .col-sm-2 
                a(href="/classmate_search") Find a Classmate
            .col-sm-1
                a(href="/logout") Log Out
    .login-box 
        .header 
            h2 Add a Course
        form(action="/new_course", method = "post")
            .form-group   
                label(for="course") Course Name and Catalog Number
                input(type="text" name="course" class="form-control" placeholder="Example: CS 35L" style="width: 300px;")
            .form-group   
                label(for="lecture") Quarter, Lecture and Section Number
                input(type="text" name="lecture" class="form-control" placeholder="Example: FALL 2022, 1A" style="width: 300px;")
            .form-group   
                label(for="email") Your Email, Visible to Public
                input(type="email" name="email" class="form-control" placeholder="xxxxx@g.ucla.edu" style="width: 300px;")
            button(type="submit" class="btn btn-primary") Submit