extends layout 

block content
    .header 
        .row
            .col-sm-2
                a(href="/home") Home
            .col-sm-2
                a(href="/new_post") New Post 
            .col-sm-2 
                a(href="/new_course") Add a Course
            .col-sm-2 
                a(href="/classmate_search") Find a Classmate
            .col-sm-1
                a(href="/logout") Log Out
    .welcome-box 
        h2 Your message has been sent !
        h3 The receiver will receive your message at their next login.
