.symbol {
    color:#fff;
  }

h2 {
    color: rgb(37, 121, 181);
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}

.label{
  color: rgb(114, 123, 131);
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
}

.msg{
  color: rgb(40, 45, 49);
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
}

.bbutton 
{
    outline: none;
    display: inline_block;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #ecd448 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: center;
    font-size: 15px;
    position: sticky;
    white-space: nowrap;
    margin-left: 20px;
    border : none;
    width: 70px;
    height: 37px;
    margin-top: 10px;
}

.bbutton[type="submit"]:hover {
  background-position: 100% 0%;
  background-color: rgb(72, 153, 214);
}

.dlbutton
{
    outline: none;
    display: inline_block;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(184, 43, 43) ;
    background-size: 200%;
    background-position: 0%;
    transition: 0s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    position: center;
    font-size: 15px;
    position: sticky;
    white-space: nowrap;
    margin-left: 20px;
    border : none;
    width: 60px;
    height: 37px;
}

.dlbutton[type="submit"]:hover {
    background-position: 100% 0%;
    background-color: rgb(152, 24, 24);
}



.input {
    outline: none;
    background-color: rgb(244, 244, 244);
    border-radius: 100px;
    
    width: 50%;
    padding: 10px 13px;
    border-radius: 8px;
    transition: 0.4s;
}

.textarea {
    display: block;
    font: inherit;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    /* padding: 0.25rem; */
    width: 60%;
    background-color: #ececec;
    height: 100px;
}

.textarea {
  display: block;
  font: inherit;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  /* padding: 0.25rem; */
  width: 60%;
  background-color: #ececec;
  height: 100px;
  margin-bottom: 10px;
}