.form {
    padding: 1rem;
  }
  
/* .control {
    margin: 1rem;
    width: 500px;
} */
  
.submit {
  position: relative;
  display: inline-block;
  width: 50%;
}

.control input {
  margin: 1rem;
  width: 500px;
    display: block;
    margin-bottom: 0.5rem;
  
}

.textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    font-size: 1cm;
    background-color: #e8e8e8;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.25rem;
    width: 100%;
  }
  
  .actions {
    margin-top: 1rem;
    text-align: left;

  }
  
  button {
    font: inherit;
    cursor: pointer;
    background-color: rgb(238, 216, 89);
    color: #2774AE;
    padding: 0.3rem 1rem;
    border: 1px solid rgb(238, 216, 89);
    border-radius: 4px;
    font-weight: bold;

  }
  
button:hover,
 button:active {
    background-color: #2774AE;
    border-color: #2774AE;
  }

.h2 {
    color: #888;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}

.symbol {
  color:#fff;
}

.addButton{
  outline: none;
  display: center;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #EED859;
  border : none;
  transition: 0s;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 560px;
  top: 20px
} 